.container {
  padding: 50px 150px;
}

.backgroundWrap {
  margin-bottom: 20px;
  padding: 40px;
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 26px rgba(171, 168, 168, 0.3);
  color: black;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.titleInfo,
.genre,
.additionalInfo,
.btn,
p,
h2 {
  position: relative;
  z-index: 2;
}

.btn {
  padding: 5px 20px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  border: none;
  margin-bottom: 30px;
  display: block;
  width: 75px;
  background-color: rgb(148, 143, 141);
}

.btn:focus,
.btn:hover,
.list:hover {
  background-color: #0a6847;
}

.titleInfo {
  display: flex;
  column-gap: 20px;
  margin-bottom: 50px;
}

h1 {
  font-weight: 400;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 200;
  color: rgb(148, 145, 145);
}

.img {
  height: 320px;
  width: 250px;
  object-fit: cover;
  border-radius: 4px;
}

h2 {
  font-weight: 400;
  margin-bottom: 20px;
}

.genre,
.additionalInfo {
  display: flex;
  column-gap: 55px;
  margin-bottom: 30px;
}

.list {
  padding: 10px 17px;
  border-radius: 8px;
  color: black;
  background-color: rgb(148, 143, 141);
  border: 1px solid #f4dfc8;
}

.link {
  display: flex;
  column-gap: 10px;
}

.text {
  font-weight: 600;
  color: black;
}

