.wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.img {
  height: 220px;
  width: 150px;
  margin-bottom: 15px;
  object-fit: cover;
  border-radius: 4px;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.name {
  color: antiquewhite;
}
